.over-awake {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition-property: transform;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.28, 0.12, 0.25, 1);
    transform: translateY(-100%);
}
.over-awake .bg-awake {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
    background-color: black;
}
.over-awake:not(.ready) .bg-awake {
    opacity: 0.6;
}
.over-awake .bg-awake,
.over-awake .bg-awake .awake-video {
    animation-delay: 0.9s;
    animation-name: overBlack;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes overBlack {
    from {
        opacity: 0.6;
    } to {
        opacity: 0.9;
    }
}
.awake-mode .over-awake {
    transform: translateY(0);
}
.over-awake .awake-video {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
}
.over-clock {
    position: relative;
    z-index: 1;
    perspective: 1200px;
}
.oclck {
    text-align: center;
    position: relative;
    animation-name: rotateX;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
.oclck div {
    display: inline-block;
    font-size: 12vh !important;
    color: white;
}
.oclck {
    perspective-origin: center;
}
@keyframes rotateX {
    0%, 94% {
        transform: rotateX(0deg);
    } 100% {
        transform: rotateX(360deg);
    }
}
.unblock {
    border-radius: 100%;
    background-color: rgba(49, 178, 201, 0.09);
    transition: all 0.3s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    opacity: .5;
    position: fixed;
    transform: translateX(-50%);
    bottom: 4rem;
    height: 3.5rem;
    width: 3.5rem;
    left: 50%;
    z-index: 13;
    font-size: 1.4rem;
    color: white;
    display: flex;
}
.unblock:hover {
    background-color: rgba(71, 161, 209, 0.22);
    opacity: 1
}